.outer {
    text-align: center;
}

.calculator {
    border: 2px solid black;
    width: 233px;
    background-color: black;
    margin: auto;
}

.display {
    text-align: right;
    height: 47px;
    font-size: 45px;
    background-color: white;
    overflow: hidden;
    direction: ltr;
}

.key {
    width: 57px;
    height: 47px;
    margin-right: -3px;
    font-size: 25px;
    border: none;
}

.row {
    padding: 1px;
}

.numeric {
    background-color: darkgrey;
}

.func {
    background-color: orange;
}

.dud {
    background-color: #ccc;
}
